# Byte-compiled / optimized / DLL files #
#########################################
__pycache__/

# Virtual environment #
#######################
bin
include
lib
lib64
pyvenv.cfg

# Environment variable #
########################
.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
